<ion-app>


    <ion-split-pane contentId="menu-content">
        <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">

            <ion-content>
                <ion-list id="inbox-list">
                    <img src="https://i1.sndcdn.com/avatars-000589154457-u2cvrc-t500x500.jpg">
                    <ion-list-header>Jonathan - Martin</ion-list-header>
                    <ion-note>joislopezsa@ittepic.edu.mx</ion-note>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLink]="['/']">
                            <ion-icon name="pricetags-outline"></ion-icon>
                            <ion-label>Catálogo</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLink]="['/cart']">
                            <ion-icon name="cart-outline" color="primary"></ion-icon>
                            <ion-label color="primary">Carrito</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>


        </ion-menu>
        <ion-router-outlet id="menu-content"></ion-router-outlet>
    </ion-split-pane>


</ion-app>