img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2pc solid white;
}

ion-list {
    text-align: center;
}

ion-list-header {
    font-size: 1pc;
}

ion-icon {
    color: green;
    margin-right: 5%;
}